In [2]:
from google.colab import drive
drive.mount('/content/drive')

from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import to_date, col

spark = SparkSession.builder.appName("samples_1").getOrCreate()

Mounted at /content/drive

In [3]:
# Criando o df da base desejada olhando apenas uma parição

df= spark.read.parquet("/content/drive/MyDrive/ingestion/fato_total_risco_trigg/dt_fechamento=2024-10-31")
df.printSchema()
df.show(n=10, truncate=False)
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) from df
""").show(5)

root
 |-- ch_cpf_hash: string (nullable = true)
 |-- vl_qnt_conta: long (nullable = true)
 |-- dt_min_adesao: date (nullable = true)
 |-- dt_max_adesao: date (nullable = true)
 |-- vl_min_limite_aprovado: decimal(7,2) (nullable = true)
 |-- vl_max_limite_aprovado: decimal(7,2) (nullable = true)
 |-- vl_total_limite_aprovado: decimal(38,2) (nullable = true)
 |-- min_saldo_devedor: decimal(38,2) (nullable = true)
 |-- max_saldo_devedor: decimal(38,2) (nullable = true)
 |-- total_saldo_devedor: decimal(38,2) (nullable = true)
 |-- min_dias_atraso: integer (nullable = true)
 |-- max_dias_atraso: integer (nullable = true)

+----------------------------------------------------------------+------------+-------------+-------------+----------------------+----------------------+------------------------+-----------------+-----------------+-------------------+---------------+---------------+
|ch_cpf_hash                                                     |vl_qnt_conta|dt_min_adesao|dt_max_adesao|vl_min_limite_aprovado|vl_max_limite_aprovado|vl_total_limite_aprovado|min_saldo_devedor|max_saldo_devedor|total_saldo_devedor|min_dias_atraso|max_dias_atraso|
+----------------------------------------------------------------+------------+-------------+-------------+----------------------+----------------------+------------------------+-----------------+-----------------+-------------------+---------------+---------------+
|9bf2d51b1ef88949aa2808c35d49848d9bf77f559cd70d654f4bfef554d4152a|1           |2021-12-17   |2021-12-17   |1700.00               |1700.00               |1700.00                 |0.00             |0.00             |0.00               |0              |0              |
|173da58d554c85dbf35b44408b32ff373962714c475d5abc192d9807046ee8bd|1           |2021-12-21   |2021-12-21   |1500.00               |1500.00               |1500.00                 |1168.25          |1168.25          |1168.25            |312            |312            |
|9d1c3c5f7ff1b69c45c6a56b8d07e792c258bbb9f229a5081c7a0f0b082e3b86|1           |2021-12-22   |2021-12-22   |900.00                |900.00                |900.00                  |229.09           |229.09           |229.09             |0              |0              |
|e967c421cd22012b78a46a444c3750c492c1ea90be45ed6d9b6dd8e8aeb88196|1           |2021-12-23   |2021-12-23   |1700.00               |1700.00               |1700.00                 |-8.19            |-8.19            |-8.19              |0              |0              |
|95a0b5e404440ba252e325cf06d6bcd72ebe4c58d83fd65398c9a29557bfceae|1           |2021-12-27   |2021-12-27   |2000.00               |2000.00               |2000.00                 |0.00             |0.00             |0.00               |0              |0              |
|1cf1b30136539d644c04f2ecd5d0ed9169e4a167148e626fcbe301836fb81e10|1           |2022-01-03   |2022-01-03   |900.00                |900.00                |900.00                  |-22.49           |-22.49           |-22.49             |952            |952            |
|2545866a04b684c891a8d75da56c8071e3c347d4494d118fc0ace72c4b710a31|1           |2022-01-06   |2022-01-06   |4000.00               |4000.00               |4000.00                 |0.00             |0.00             |0.00               |738            |738            |
|8a56bc110b1c591232d1971264987d932c8eee80dad1a8a6e68bddf1bcb853a6|1           |2022-01-17   |2022-01-17   |6000.00               |6000.00               |6000.00                 |3458.33          |3458.33          |3458.33            |322            |322            |
|a557fe6e7938771342ee14a635477e8d8d26ed75c31c25b19dfde9dbb726219a|1           |2022-01-17   |2022-01-17   |1500.00               |1500.00               |1500.00                 |1.57             |1.57             |1.57               |0              |0              |
|e9cf85bd2bb07c37c4992eec98b8823bb9a7058053f88859e7c35142ba1e1fc6|1           |2022-01-26   |2022-01-26   |3800.00               |3800.00               |3800.00                 |261.95           |261.95           |261.95             |37             |37             |
+----------------------------------------------------------------+------------+-------------+-------------+----------------------+----------------------+------------------------+-----------------+-----------------+-------------------+---------------+---------------+
only showing top 10 rows

+--------+
|count(1)|
+--------+
|  225530|
+--------+

In [5]:
df= spark.read.parquet("/content/drive/MyDrive/ingestion/fato_total_risco_trigg/dt_fechamento=2024-09-30")
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) as trigg from df
""").show(5)

df= spark.read.parquet("/content/drive/MyDrive/ingestion/fato_total_risco_uze/dt_fechamento=2024-09-30")
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) as uze from df
""").show(5)

df= spark.read.parquet("/content/drive/MyDrive/ingestion/fato_total_risco_fortbrasil/dt_fechamento=2024-09-30")
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) as fortbrasil from df
""").show(5)

df= spark.read.parquet("/content/drive/MyDrive/ingestion/fato_total_risco_credz/dt_fechamento=2024-09-30")
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) as credz from df
""").show(5)

df= spark.read.parquet("/content/drive/MyDrive/ingestion/fato_total_risco_dm/dt_fechamento=2024-09-30")
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) as dm from df
""").show(5)

+------+
| trigg|
+------+
|225530|
+------+

+-------+
|    uze|
+-------+
|2485972|
+-------+

+----------+
|fortbrasil|
+----------+
|   2760647|
+----------+

+-------+
|  credz|
+-------+
|2221295|
+-------+

+-------+
|     dm|
+-------+
|5796543|
+-------+

![image.png]()

In [8]:
df= spark.read.parquet("/content/drive/MyDrive/ingestion/fato_total_risco_trigg/dt_fechamento=2024-09-30")
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) as trigg from df
""").show(5)

#Realizando o sample
df = df.sample(withReplacement=False, fraction=0.03, seed=42)
df.createOrReplaceTempView("df")
spark.sql("""
select count(*) from df
""").show(5)

+------+
| trigg|
+------+
|225530|
+------+

+--------+
|count(1)|
+--------+
|    6846|
+--------+

In [10]:
cpf_filter = df.select("ch_cpf_hash").distinct().rdd.flatMap(lambda x: x).collect()

In [9]:
from datetime import datetime, timedelta
import calendar
from dateutil.relativedelta import relativedelta

# Data base inicial
dt_fechamento_desejada = datetime.strptime("2024-09-30", "%Y-%m-%d") #Data final desejada

# Gerar os últimos 12 meses com o último dia de cada mês
datas = []
for i in range(4):
    # Subtrair os meses
    nova_data = dt_fechamento_desejada - relativedelta(months=i)
    # Obter o último dia do mês
    last_day = calendar.monthrange(nova_data.year, nova_data.month)[1]
    datas.append(nova_data.replace(day=last_day).strftime("%Y-%m-%d"))

# Exibir os resultados
print(datas)

['2024-09-30', '2024-08-31', '2024-07-31', '2024-06-30']

In [12]:
base_path = "/content/drive/MyDrive/ingestion/fato_total_risco_trigg"
paths = [f"{base_path}/dt_fechamento={data}" for data in datas]
print(paths)

# Ler todas as partições
df_12_meses = spark.read.parquet(*paths)
df.createOrReplaceTempView("df_12_meses")

['/content/drive/MyDrive/ingestion/fato_total_risco_trigg/dt_fechamento=2024-09-30', '/content/drive/MyDrive/ingestion/fato_total_risco_trigg/dt_fechamento=2024-08-31', '/content/drive/MyDrive/ingestion/fato_total_risco_trigg/dt_fechamento=2024-07-31', '/content/drive/MyDrive/ingestion/fato_total_risco_trigg/dt_fechamento=2024-06-30']

In [13]:
# Filtrar o DataFrame de 12 meses pelos CPFs selecionados
df = df_12_meses.filter(df_12_meses["ch_cpf_hash"].isin(cpf_filter))
df.describe().show()

+-------+--------------------+--------------------+----------------------+----------------------+------------------------+------------------+-----------------+-------------------+-----------------+-----------------+
|summary|         ch_cpf_hash|        vl_qnt_conta|vl_min_limite_aprovado|vl_max_limite_aprovado|vl_total_limite_aprovado| min_saldo_devedor|max_saldo_devedor|total_saldo_devedor|  min_dias_atraso|  max_dias_atraso|
+-------+--------------------+--------------------+----------------------+----------------------+------------------------+------------------+-----------------+-------------------+-----------------+-----------------+
|  count|               27384|               27384|                 27384|                 27384|                   27384|             27384|            27384|              27384|            27384|            27384|
|   mean|                NULL|  1.0004382120946538|           2128.162431|           2128.878177|             2131.032720|       1252.233453|      1252.439101|        1252.858156|98.47819894829097|98.47819894829097|
| stddev|                NULL|0.020929311046286835|    1640.1470083998374|     1640.767235619993|        1647.31434109831|2278.5923796121992|  2278.6517893602|   2279.23656084917|222.7888711169243|222.7888711169243|
|    min|0006cc07ffcebd791...|                   1|                  0.00|                  0.00|                    0.00|          -1680.26|         -1680.26|           -1680.26|                0|                0|
|    max|fff9939edddabc63b...|                   2|              12500.00|              12500.00|                22000.00|          26223.33|         26223.33|           26223.33|             2625|             2625|
+-------+--------------------+--------------------+----------------------+----------------------+------------------------+------------------+-----------------+-------------------+-----------------+-----------------+

In [14]:
# Caminho onde você quer salvar o DataFrame no Google Drive
output_path = "/content/drive/MyDrive/ingestion/SOT/tb_risco_trigg_12M"

# Salvar o DataFrame como um arquivo Parquet
df_12_meses.write.parquet(output_path, mode="overwrite")

print(f"DataFrame salvo em: {output_path}")

# Finalizar a sessão do Spark
# spark.stop()

DataFrame salvo em: /content/drive/MyDrive/ingestion/SOT/tb_risco_trigg_12M